<div class="post-block">
    <a href="/post/{{id}}"></a>
  <h2 class="post-title">{{title}}</h2>
  <p class="post-content">{{content}}</p>
  <!-- Assuming you'll pass the user object when rendering the post -->
  <p class="post-author">Posted by {{user.username}} on {{formatDate post.createdAt "MMMM Do YYYY, h:mm:ss a"}}</p>
  <!-- Check if the current user owns the post for edit/delete options -->
  {{#if ownPost}}
  <button class="delete-post-btn" data-id="{{id}}">Delete Post</button>
  <button class="edit-post-btn" data-id="{{id}}">Edit Post</button>
  {{/if}}
  </a>
</div>
